In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame([[0, 1, 2, 3, 4], [5,6,7,8,9], [5,6,7,8,9], [5,6,7,10,9], [5,6,7,8,9]],
                    index=['a', 'b', 'c', 'a', 'd'],
                    columns=['a', 'b', 'c', 'a', 'd'])

df

   a  b  c   a  d
a  0  1  2   3  4
b  5  6  7   8  9
c  5  6  7   8  9
a  5  6  7  10  9
d  5  6  7   8  9

In [18]:
df.stack().to_dict()

{('a', 'a'): 10,
 ('a', 'b'): 6,
 ('a', 'c'): 7,
 ('a', 'd'): 9,
 ('b', 'a'): 8,
 ('b', 'b'): 6,
 ('b', 'c'): 7,
 ('b', 'd'): 9,
 ('c', 'a'): 8,
 ('c', 'b'): 6,
 ('c', 'c'): 7,
 ('c', 'd'): 9,
 ('d', 'a'): 8,
 ('d', 'b'): 6,
 ('d', 'c'): 7,
 ('d', 'd'): 9}

In [19]:
pd.Timedelta('nan')

NaT

In [20]:
'95ac1fbb55a44f0711019bb11c2fe7051ac11f96' > '538f2a1dda1109f810b9fbd975c7e34f6dba654f'

True